@model IEnumerable<SaludVidaAnaliticsRotman.Models.EquipoMedico>

@{
    ViewData["Title"] = "Administrar equipos médicos";
}

<h1>Administrar equipos médicos</h1>

<p>
    <a asp-action="Create" class="btn btn-success">Agregar equipo</a>
</p>
<table class="table table-primary">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NombreEquipo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NombreEquipo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.IdEquipo" class="btn btn-warning">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.IdEquipo" class="btn btn-primary">Detalle</a> |
                    <a asp-action="Delete" asp-route-id="@item.IdEquipo" class="btn btn-danger">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
