@model IEnumerable<SaludVidaAnaliticsRotman.Models.CitasAtendida>

@{
    ViewData["Title"] = "Reporte de citas atendidas";
}

<h1>Reporte de citas atendidas</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NombrePaciente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apellido1Paciente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apellido2Paciente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fecha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NombreMedico)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apellid1Medico)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apellido2Medico)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Costo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HoraInit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HoraEnd)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NombrePaciente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellido1Paciente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellido2Paciente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fecha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NombreMedico)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellid1Medico)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellido2Medico)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Costo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HoraInit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HoraEnd)
            </td>

        </tr>
}
    </tbody>
</table>
