@model IEnumerable<SaludVidaAnaliticsRotman.Models.PorcentajeEspecialidadesAtendida>

@{
    ViewData["Title"] = "Porcentaje por especialidades atendidas";
}

<h1>Porcentaje por especialidades atendidas</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CantidadDeCitasEspecialidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalCitas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Porcentaje)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NombreEspecialidad)
            </th>
           
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CantidadDeCitasEspecialidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalCitas)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Porcentaje)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NombreEspecialidad)
            </td>
 
        </tr>
}
    </tbody>
</table>
