@model SaludVidaAnaliticsRotman.Models.Cita

@{
    ViewData["Title"] = "Eliminar";
}

<h1>Eliminar cita</h1>

<h3>¿Seguro que desea eliminar la cita?</h3>
<div>
    <h4>Cita</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaCorta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CostoConsulta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CostoConsulta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdConsultorioNavigation.NombreConsultorio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdConsultorioNavigation.NombreConsultorio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdEspecialidadNavigation.NombreEspecialidad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdEspecialidadNavigation.NombreEspecialidad)
        </dd>
        <dt class = "col-sm-2">
            Horario
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdHorarioNavigation.HorarioSelect)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdMedicoNavigation.NombreMedico)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdMedicoNavigation.NombreCompleto)
        </dd>
        <dt class = "col-sm-2">
            Identificación paciente
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdPacienteNavigation.Identificacion)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdCita" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
    </form>
</div>
