@model SaludVidaAnaliticsRotman.Models.Cita

@{
    ViewData["Title"] = "Detalles";
}

<h1>Detalles de cita</h1>

<div>
    <h4>Cita</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaCorta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CostoConsulta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CostoConsulta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdConsultorioNavigation.NombreConsultorio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdConsultorioNavigation.NombreConsultorio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdEspecialidadNavigation.NombreEspecialidad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdEspecialidadNavigation.NombreEspecialidad)
        </dd>
        <dt class = "col-sm-2">
            Horario
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdHorarioNavigation.HorarioSelect)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdMedicoNavigation.NombreMedico)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdMedicoNavigation.NombreCompleto)
        </dd>
        <dt class = "col-sm-2">
            Identificación paciente
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdPacienteNavigation.Identificacion)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" class="btn btn-primary"  asp-route-id="@Model?.IdCita">Editar</a> |
    <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
</div>
