 @model IEnumerable<SaludVidaAnaliticsRotman.Models.Cita>

@{
    ViewData["Title"] = "Administrar citas";
}

<h1>Administrar citas</h1>

<p>
    <a asp-action="Create" class="btn btn-success">Crear cita</a>
</p>
<table class="table table-primary">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Fecha)
            </th>
            <th>
                Costo
            </th>
            <th>
                Consultorio
            </th>
            <th>
                Especialidad
            </th>
            <th>
                Horario
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdMedicoNavigation.NombreMedico)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdPacienteNavigation.Identificacion)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FechaCorta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CostoConsulta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdConsultorioNavigation.NombreConsultorio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdEspecialidadNavigation.NombreEspecialidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdHorarioNavigation.HorarioSelect)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdMedicoNavigation.NombreCompleto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdPacienteNavigation.Identificacion)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.IdCita" class="btn btn-warning">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.IdCita" class="btn btn-primary">Detalle</a> |
                    <a asp-action="Delete" asp-route-id="@item.IdCita" class="btn btn-danger">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
