@model IEnumerable<SaludVidaAnaliticsRotman.Models.PorcentajeAtencionMedico>

@{
    ViewData["Title"] = "Porcentaje de atención por médico";
}

<h1>Porcentaje de atención por médico</h1>

<table class="table table-primary">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CantidadDeCitas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalCitas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Porcentaje)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NombreMedico)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apellido1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apellido2)
            </th>
          
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CantidadDeCitas)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalCitas)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Porcentaje)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NombreMedico)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellido1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellido2)
            </td>
        </tr>
}
    </tbody>
</table>
