@model IEnumerable<SaludVidaAnaliticsRotman.Models.RelacionConsultorioEquiposMedico>

@{
    ViewData["Title"] = "Administrar equipos en consultorios";
}

<h1>Administrar equipos en consultorios</h1>

<p>
    <a asp-action="Create" class="btn btn-success">Asignar equipo médico a consultorio</a>
</p>
<table class="table table-primary">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdConsultorioNavigation.NombreConsultorio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdEquipoMedicoNavigation.NombreEquipo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdConsultorioNavigation.NombreConsultorio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdEquipoMedicoNavigation.NombreEquipo)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.IdRelacion" class="btn btn-warning">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.IdRelacion" class="btn btn-primary">Detalle</a> |
                    <a asp-action="Delete" asp-route-id="@item.IdRelacion" class="btn btn-danger">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
