@model IEnumerable<SaludVidaAnaliticsRotman.Models.Consultorio>

@{
    ViewData["Title"] = "Consultorios";
}

<h1>Administración de consultorios</h1>

<p>
    <a asp-action="Create" class="btn btn-success">Agregar consultorio</a>
</p>
<table class="table table-primary">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NombreConsultorio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumeroConsultorio)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NombreConsultorio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumeroConsultorio)
            </td>
            <td>
                    <a asp-action="Edit" class="btn btn-warning" asp-route-id="@item.IdConsultorio">Editar</a> |
                    <a asp-action="Details" class="btn btn-primary" asp-route-id="@item.IdConsultorio">Detalles</a> |
                    <a asp-action="Delete" class="btn btn-danger" asp-route-id="@item.IdConsultorio">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
